@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Forums.ViewModel.GetUserForums
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Users> userManager;
@{
    var user = await userManager.GetUserAsync(User);
    var role = await userManager.IsInRoleAsync(user, "Admin");
    var admin = role.ToString().ToLower();
}

<div class="card x-75">
    <div class="card-body">
        <div class="d-flex flex-start mb-4 rounded-1 border py-2" id="Comment@(Model.Id)">

            <img src='https://i.imgur.com/CFpa3nK.jpg' alt='avatar' class='rounded-circle shadow-1-strong me-3' width='65' height='65'>
            <div class='flex-grow-1 flex-shrink-1'>
                <div>
                    <div class='d-flex justify-content-between align-items-center'>
                        <p class='mb-1'><a asp-action="GetProfile" asp-controller="Users" asp-route-id="@Model.userId"> @Model.userName </a> <span class='small'> - @Model.CreatedDate</span></p>
                    </div>

                    <p class='small mb-0'>@Model.Comment </p>
                </div>

                @if (role)
                {
                    <div class="row">
                        <a onclick='deleteComment()' class='link-danger delete'>Delete</a>
                    </div>
                }

                <div class="row" id="replyToggle">
                    @if (Model.RepliesCount > 0)
                    {
                        <a class="btn dropdown-toggle w-auto" id="collapsebtn" data-bs-toggle="collapse" href="#replyCollapse" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                    }
                    else
                    {
                        <a style="visibility:hidden" id="collapsebtn" class="btn dropdown-toggle w-auto" data-bs-toggle="collapse" href="#replyCollapse" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                    }
                </div>

                <div class="collapse" id="replyCollapse">
                    <div id="replyList">
                    </div>
                    <button onclick="getReplies()" class="btn btn-link my-2">Load more...</button>
                </div>

                <div class='row w-50 p-2'>
                    <div class='col-8'>
                        <textarea wrap="hard" maxlength="500" class='form-control' id="reply" type='text' placeholder='write reply' aria-label='Write Reply ...'></textarea>
                    </div>
                    <div class='col-4'>
                        <button class='btn btn-primary' onclick='AddReply()'>Reply</button>
                    </div>
                </div>

            </div>
            <input type="hidden" value="@Model.Id" id="ParentId" />
            <input type="hidden" value="@Model.forumId" id="ForumId" />
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var pageNo = 0
        $(document).ready(function () {
            getReplies();
        });
        function AddReply() {
            $.ajax({
                type: 'post',
                dataType: 'JSON',
                url: '/Forums/AddReply',
                data: {
                    forumId: $('#ForumId').val(),
                    comment: $('#reply').val(),
                    parentId: $('#ParentId').val()
                },
                success: function (data) {
                    $('#reply').val('')
                    ListReplies(data, false)
                    $('#collapsebtn').css('visibility', 'visible')
                },
                error: function (data) {
                    console.log('hiii')
                }
            });
        }
        function getReplies() {
            $.ajax({
                type: 'get',
                dataType: 'JSON',
                url: '/Forums/GetCommentReplies',
                data: {
                    parentId: $('#ParentId').val(),
                    page: pageNo++
                },
                success: function (data) {
                    $('#reply').val('')
                    ListReplies(data, true)
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function ListReplies(data, append) {
            var str = ""
            $.each(data, function (i, obj) {
                str += "<div class='d-flex flex-start mt-4' id='Comment" + obj.id + "'><a class='me-3' href='#'><img src='https://i.imgur.com/CFpa3nK.jpg' alt = 'avatar' class='rounded-circle shadow-1-strong' width = '65' height = '65' ></a><div class='flex-grow-1 flex-shrink-1'><div><div class='d-flex justify-content-between align-items-center'><p class='mb-1'><a href='/Users/GetProfile/" + obj.userId + "'>" + obj.userName + "</a><span class='small'> - " + formatDate(obj.createdDate) + "</span></p></div>"
                    + "<p class='small mb-0'>" + obj.comment + "</p></div><a onclick='DeleteReply(" + obj.id + ")' class='link-danger delete'>Delete</a></div></div>";
            });
            if (append) {
                $('#replyList').append(str);
            }
            else
                $('#replyList').html(str);
            pageNo = 1
            if (!@admin)
                $('.delete').css('display', 'none')
            $('#replyCollapse').collapse("show");
        }
        function deleteComment() {
            $.ajax({
                type: 'post',
                dataType: 'JSON',
                url: '/Forums/DeleteComment',
                data: {
                    commentId: $('#ParentId').val()
                },
                success: function (data) {
                    window.location.href = 'Forums/GetForum' + $('#ForumId').val()
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function DeleteReply(id) {
            console.log(id)
            $.ajax({
                type: 'post',
                dataType: 'JSON',
                url: '/Forums/DeleteReply',
                data: {
                    commentId: id
                },
                success: function (data) {
                    $("#Comment" + id).remove();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
}
