@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Forums.ViewModel.GetUserForums>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<Users> userManager;
@{
    var user = await userManager.GetUserAsync(User);
    var role = await userManager.IsInRoleAsync(user, "Admin");
    var admin = role.ToString().ToLower();
}

@if (Model.Count > 0)
{
    <div class="card x-75">
        <div class="card-body">
            <div class="row">
                <div class="col" id="CommentList">
                    @foreach (var comment in Model)
                    {
                        <div class="d-flex flex-start mb-4 rounded-1 border py-2" id="Comment@(comment.Id)">

                            <img src='https://i.imgur.com/CFpa3nK.jpg' alt='avatar' class='rounded-circle shadow-1-strong me-3' width='65' height='65'>
                            <div class='flex-grow-1 flex-shrink-1'>
                                <div>
                                    <div class='d-flex justify-content-between align-items-center'>
                                        <p class='mb-1'>
                                            <a asp-action="GetProfile" asp-controller="Users" asp-route-id="@comment.userId"> @comment.userName </a>
                                            <span class='small'> - @comment.CreatedDate</span></p>
                                    </div>

                                    <p class='small mb-0'>@comment.Comment </p>
                                </div>

                                @if (role)
                                {
                                    <div class="row">
                                        <a onclick='deleteComment(@comment.Id)' class='link-danger delete'>Delete</a>
                                    </div>
                                }
                                @if (comment.Replies.Count == 0)
                                {
                                    <div class="row" id="replyToggle@(comment.Id)" style="visibility:hidden">
                                        <a class="btn dropdown-toggle w-auto" data-bs-toggle="collapse" href="#replyCollapse@(comment.Id)" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="row" id="replyToggle@(comment.Id)" style="visibility:visible">
                                        <a class="btn dropdown-toggle w-auto" data-bs-toggle="collapse" href="#replyCollapse@(comment.Id)" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
                                    </div>
                                }
                                <div class="collapse" id="replyCollapse@(comment.Id)">
                                    <div id="replyList@(comment.Id)">
                                        @foreach (var reply in comment.Replies)
                                        {
                                            <div class='d-flex flex-start mt-4' id="Comment@(reply.Id)">
                                                <a class='me-3' href='#'>
                                                    <img src='https://i.imgur.com/CFpa3nK.jpg' alt='avatar' class='rounded-circle shadow-1-strong' width='65' height='65'>
                                                </a>
                                                <div class='flex-grow-1 flex-shrink-1'>
                                                    <div>
                                                        <div class='d-flex justify-content-between align-items-center'>
                                                            <p class='mb-1'>
                                                                <a asp-action="GetProfile" asp-controller="Users" asp-route-id="@comment.userId">
                                                                    @reply.userName
                                                                </a>
                                                                <span class='small'> -  @reply.CreatedDate </span>
                                                            </p>
                                                        </div>
                                                        <p class='small mb-0'> @reply.Comment </p>
                                                    </div>
                                                    @if (role)
                                                    {
                                                        <a onclick='DeleteReply(@reply.Id)' class='link-danger delete'>Delete</a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="@ViewBag.query" id="query">
                            <div class="col-md-4">
                                <div class="row">
                                    <a asp-action="GetComment" asp-route-id="@comment.Id" id="repliesCountText@(comment.Id)" class="my-2">Show All @(comment.RepliesCount) Replies...</a>
                                </div>
                                <div class="row">
                                    <a href="#" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="copy to clipboard" onclick="copyToClipboard(@comment.Id)">
                                        <svg style="width:6%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z" /></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <button onclick="getNextPage()" class="btn btn-link my-2">Load more...</button>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-text">
            <h2>Couldn't find search results try different query</h2>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
        });
        var commentPage = 1;
        function getNextPage() {
            $.ajax({
                type: 'get',
                dataType: 'JSON',
                url: '/Forums/GetNextSearchComment',
                data: {
                    query: $('#query').val(),
                    page: commentPage++,
                },
                success: function (data) {
                    console.log(data)
                    ListComments(data);
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function ListComments(data) {
            var str = ""
            var replies
            $.each(data, function (i, obj) {

                if ($("#Comment" + obj.id).length == 0) {
                    replies = ""
                    $.each(obj.replies, function (j, reply) {
                        replies += "<div class='d-flex flex-start mt-4' id='Comment" + reply.id + "'><a class='me-3' href='#'><img src='https://i.imgur.com/CFpa3nK.jpg' alt = 'avatar' class='rounded-circle shadow-1-strong' width = '65' height = '65' ></a><div class='flex-grow-1 flex-shrink-1'><div><div class='d-flex justify-content-between align-items-center'><p class='mb-1'><a href='/Users/GetProfile/" + obj.userId + "'>" + reply.userName + "</a><span class='small'> - " + formatDate(reply.createdDate) + "</span></p></div>"
                            + "<p class='small mb-0'>" + reply.comment + "</p></div><a onclick='DeleteReply(" + reply.id + ")' class='link-danger delete'>Delete</a></div></div>";//<a asp-action='GetProfile' asp-controller='User' asp-route-id=" + reply.userId + "</a>
                    });
                    str += "<div class='d-flex flex-start mb-4 rounded-1 border py-2' id = 'Comment" + obj.id + "'> <img src='https://i.imgur.com/CFpa3nK.jpg' alt = 'avatar' class='rounded-circle shadow-1-strong me-3' width = '65' height = '65' > <div class='flex-grow-1 flex-shrink-1' > <div><div class='d-flex justify-content-between align-items-center'>"
                        + "<p class='mb-1'><a href='/Users/GetProfile/" + obj.userId + "'>" + obj.userName + "</a><span class='small'> - " + formatDate(obj.createdDate) + " </span></p></div><p class='small mb-0'>" + obj.comment + " </p></div><a onclick='deleteComment(" + obj.id + ")' class='link-danger delete'><span>Delete </span></a>"
                        + "<div class='row'>";
                    if (obj.replies.length)
                        str += "<a id='replyToggle" + obj.id + "' class='btn dropdown-toggle w-auto' data-bs-toggle='collapse' href = '#replyCollapse" + obj.id + "' role = 'button' aria-expanded='false' aria-controls='collapseExample'></a>"
                    else
                        str += "<a id='replyToggle" + obj.id + "' style='visibility:hidden' class='btn dropdown-toggle w-auto' data-bs-toggle='collapse' href = '#replyCollapse" + obj.id + "' role = 'button' aria-expanded='false' aria-controls='collapseExample'></a>";
                    str += "</div><div class='collapse' id='replyCollapse" + obj.id + "'><div id='replyList" + obj.id + "'>" + replies + "</div></div></div><div class='col-md-4'><div class='row'><a href='/Forums/GetComment/" + obj.id + "' class='my-2'>Show All " + obj.repliesCount + " Replies...</a></div><div class='row'><a href='#' type='button' data-bs-toggle='tooltip' data-bs-placement='bottom' title='copy to clipboard' onclick='copyToClipboard("+obj.id+")'><svg style='width:6%' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path d='M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z'/></svg></a></div></div></div>";
                }
            });
            $('#CommentList').append(str);
            if (!@admin)
                $('.delete').css('display', 'none')
            $('.collapse').collapse('hide');
        }
        function deleteComment(id) {
            console.log(id)
            $.ajax({
                type: 'post',
                dataType: 'JSON',
                url: '/Forums/DeleteComment',
                data: {
                    commentId: id
                },
                success: function (data) {
                    $("#Comment" + id).remove();
                    loadStats();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
        function DeleteReply(id) {
            console.log(id)
            $.ajax({
                type: 'post',
                dataType: 'JSON',
                url: '/Forums/DeleteReply',
                data: {
                    commentId: id
                },
                success: function (data) {
                    $("#Comment" + id).remove();
                    loadStats();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        }
    </script>
}
